<p>Presione <strong>&larr;</strong> para girar a la izquierda</p>
<p>Presione <strong>&rarr;</strong> para girar a la derecha</p>
<p>Presione <strong>Enter</strong> para avanzar</p>
<p>Presione <strong>Space</strong> para lanzar flecha</p>
<p>Apuntando hacia el: {{currentDirection}}</p>
<p>Flechas: {{properties.arrows}}</p>
<div>
  <div *ngFor="let row of cellMatrix" class="row">
    <div *ngFor="let cell of row">
      <app-cell-game [row]="cell.row" [col]="cell.col" [roles]="cell.roles"></app-cell-game>
    </div>
  </div>
</div>

<div>
  <textarea [(ngModel)]="gamelog" rows="10" cols="40"></textarea>
</div>
